
{{ define "main" }}
	<a href="/"><div class="site-name"></div></a>
		
		<!-- about page only -->
		{{ if eq .Params.Title "About" }}
			<h2 class="single-title">{{ .Page.Title }}</h2>
			<div class="content">
				{{ partial "about" . }}
			</div>
		{{ end }}
		<!-- end about page only -->
		

		<!-- if painting page only -->
		{{ if eq .Type "paintings" }}
			<div class="content">
				{{ partial "painting" . }}
			</div>
		{{ end }}
		<!-- end painting page only -->
	
<br>
<br>
<br>
<br>
{{ end }}


