
<meta name="robots" content="index, follow">
<meta name="description" content="The art of artist Jacob Giberson. Paintings, drawings, contact and more!" />
<meta name="robots" content="follow, index" />
<meta name="keywords" content="jacob giberson, paint, oil paint, acrylic, drawing, color, art, artist, boston" />

<meta property="og:site_name" content="Jacob Giberson | Artist" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.jacobgiberson.com" />
<meta property="og:title" content="The Art of Jacob Giberson" />
<meta property="og:description" content="The art of artist Jacob Giberson. Paintings, drawings, contact and more!" />
<meta property="og:image" content="https://wwwhttps://res.cloudinary.com/jakegibs617/image/upload/v1546218345/untitled_thumb.png" />
<meta property="og:image:url" content="https://res.cloudinary.com/jakegibs617/image/upload/v1546218345/untitled_thumb.png" />
<meta property="og:image:secure_url" content="https://res.cloudinary.com/jakegibs617/image/upload/v1546218345/untitled_thumb.png" />
<meta property="og:image:type" content="image/png" />