<!DOCTYPE html>

<html>

{{ partial "head" . }}
<body style="background-image: url(https://res.cloudinary.com/jakegibs617/image/upload/c_crop,h_800,q_auto:best,w_1000,y_675/v1619694470/pondering_through_fog.jpg);">
	{{ partial "nav" . }}
	{{ partial "gtm" . }}

	
	<div class="homeMenu">
		<a href="/paintings">Paintings</a><br>
		<a href="/about">About</a><br>
		<!-- <a href="/photos">Photos</a> -->
	</div>

<div class="welcome">
	Instagram <a style="font-weight:bold;color:tomato;" href="https://www.instagram.com/jacobgiberson_studio/">@jacobgiberson_studio</a>
</div>
<br>
	{{ partial "footer" . }}


</body>

</html>